<section class="section__pokemons">
  <a router-link="" class="pokemon">
    <section class="pokemon__status">
      <h2>Bulbassauro</h2>
      <ul>
        <li>Grass</li>
        <li>Poison</li>
      </ul>
    </section>
    <section class="pokemon__image">
      <img src="../../../assets/pokemons/bulbassauro.svg" alt="pokemon" />
    </section>
  </a>

  <a router-link="" class="pokemon">
    <section class="pokemon__status">
      <h2>Bulbassauro</h2>
      <ul>
        <li>Grass</li>
        <li>Poison</li>
      </ul>
    </section>
    <section class="pokemon__image">
      <img src="../../../assets/pokemons/bulbassauro.svg" alt="pokemon" />
    </section>
  </a>
</section>
