@import "../../../config/rem-calc.scss";

$paddingTen: rem-calc(10);

:host {
  .section__pokemons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: rem-calc(20);
  }

  .pokemon {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #ccc;
    border-radius: $paddingTen;
    padding: rem-calc(40);
    width: rem-calc(220);
    text-decoration: none;

    &__status {
      display: flex;
      flex-direction: column;
      gap: $paddingTen;
      max-width: rem-calc(100);

      h2 {
        font-size: rem-calc(20);
        text-transform: capitalize;
        font-style: italic;
        font-weight: 700;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: rem-calc(10);

        li {
          background-color: var(--gray-1);
          font-size: $paddingTen;
          text-transform: capitalize;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: rem-calc(5);
          border-radius: rem-calc(50);
        }
      }
    }

    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: rem-calc(20);
      top: rem-calc(25);
      width: rem-calc(110);
      height: rem-calc(90);
      background-image: url("../../../assets/icons/card-bolinhas.svg");
      background-repeat: no-repeat;

      img {
        width: rem-calc(80);
      }
    }
  }
}
